@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    font-family: 'Mulish', sans-serif;
  
    &:focus{
      outline: none;
    }
}

body{
    background-color: #F2F2F2;
    display: grid;
    place-content: center;
    height: 100vh;
}


.component--prices{
    width: 100%;
    .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 55px;
        h3{
            font-size: 42px;
            font-weight: 800;
        }

        .price-switch{
            width: 212px;
            height: 50px;
            background-color: #D4D9E0;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            span{
                cursor: pointer;
                color: #171922;
                font-weight: 700;
                width: 100px;
                height: 40px;
                display: grid;
                place-items: center;
                transition: 400ms all ease-out;
                font-size: 16px;

                &.active{
                    background-color: white;
                    box-shadow: 0px 15px 13px -12px rgba(134, 147, 164, 0.739565);
                    padding: 10px;
                    border-radius: 25px;
                }
            }
        }
    }

    .packages{
        width: 100%;
        display: flex;
        .package{
            display: grid;
            place-content: center;
            padding: 45px;
            background-color: white;
            height: 447px;
            width: 438px;
            border-radius: 5px;
            box-shadow: 0px 19px 50px -20px rgba(134, 147, 164, 0.739565);
            &:not(:last-child){
                margin-right: 40px;
            }

            h6{
                font-weight: 700;
                font-size: 28px;
                margin-bottom: 35px;
                color: #171922;
            }

            .price-info{
                .price{
                    font-size: 22px;
                    font-weight: 700;
                    color: #171922;
                    margin-bottom: 10px;
                    transition: 400ms all;
                }
                .plan{
                    color: rgba(23, 25, 34, 0.7139);
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 30px;
                }
                .description{
                    font-size: 16px;
                    font-weight: 600;
                    height: 80px;
                }
            }

            .sub-button{
                width: 348px;
                height: 61px;
                background-color: black;
                color: white;
                font-size: 18px;
                border-radius: 5px;
                cursor: pointer;
                margin-top: 35px;
                border: 1px solid black;
                transition: 400ms all;

                &:hover{
                    background-color: transparent;
                    color: black;
                }
            }
        }
    }
}